
        <app-navbar></app-navbar>
  
<div class="container">
 
    <div class="row">
      
     
  
      <div class="col-md-6 mt-4"   >
    <div class="panel-group">
      <div class="panel panel-primary">
        <div class="panel-heading">
          
        </div>
    
        <div class="panel-body" >
           
          <div class="col-sm-12">
          <h3>titre</h3>
            <hr>
            
            <h4>posted by :,</h4>
            <h4><span class="glyphicon glyphicon-time"></span> derniere delai :
                  .</h4>
                  <h4>    <i class="glyphicon glyphicon-wrench"></i>  Secteur:</h4>
              <h4>  <span class="glyphicon glyphicon-map-marker"></span></h4>
            
  
  
  
  
  
  
  
  
              
              
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
            
          </div>
  
          <div class="form-group">
            <a    routerLink="">
                      <button  class="btn btn-success"> 
                        voir plus</button>
                        </a>
                      </div>
  
  
  
          
               
        </div>
    </div>
  </div>
  
  </div>
  </div></div>
  
  
  
   <app-footer></app-footer>
    
       



