
        
  
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink='/home'  >Production-Scientifique</a>
    </div>
    
    
   
  </div>
</nav>


</body>
</html>




















        <div class="container">
         


            <div class="panel panel-primary margetop60">
                <div class="panel-heading">Rechercher  </div>
                <div class="panel-body">
                    <form  class="form-inline" >
                        <div class="form-group">
                        <input type="text" name="nomPrenom" 
                               placeholder="Taper le nom et le prenom"
                               class="form-control" value=""/>
                            </div>
                         &nbsp  
                         <div class="form-group">
                         <input type="text" name="nomPrenom" 
                         placeholder="Taper L'acronyme"
                         class="form-control" value=""/>
                      </div>
                         &nbsp   
                         <div class="form-group"> 
                         <input type="text" name="nomPrenom" 
                         placeholder="Taper le nom du responsable"
                         class="form-control" value=""/>
                      </div>
                      &nbsp 
                      <div class="form-group">  
                      <input type="text" name="nomPrenom" 
                      placeholder="Taper le nom du membre"
                      class="form-control" value=""/>
                   </div>
                   &nbsp  
                   <div class="form-group"> 
                   <input type="text" name="nomPrenom" 
                   placeholder="Taper le nom du doctorants"
                   class="form-control" value=""/>
                </div>
               
                <div class="form-group">  
                    <br> 
                <input type="text" name="nomPrenom" 
                placeholder=" l'etablissement"
                class="form-control" value=""/>
             </div>
             &nbsp      &nbsp      &nbsp      &nbsp      &nbsp      &nbsp  
               
                        <button type="submit" class="btn btn-success"> <span class="glyphicon glyphicon-search"></span>cherecher...</button>
                   
                        
                    </form>
                </div>


</div>

















           





  

 
  <div class="row">
    
   

    <div class="col-md-6 mt-4"   >
  <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading">
        
      </div>
  
      <div class="panel-body" >
         
        <div class="col-sm-12">
        <h3>Big Data Analytics</h3>
          <hr>
          
          <h4>les auteurs:Baddi Youssef,<br>
            Yassine Malah,<br>
            mouhiha mohamed.</h4>
          <h4> publication revue internationnale indexe : journale x
                .</h4>
                <h4>      publication revue commite de lecture : journale y</h4>
            <h4>  </h4>
          
          
        </div>

        <div class="form-group">
          <a    routerLink="">
                    <button  class="btn btn-success"> 
                      voir plus</button>
                      </a>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <a    routerLink="">
                        <button  class="btn btn-success"> 
                          Modifier</button>
                          </a>
                    </div>



        
             
      </div>
  </div>
</div>

</div>










<div class="col-md-6 mt-4"   >
  <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading">
        
      </div>
  
      <div class="panel-body" >
         
<div class="col-sm-12">
        <h3>L'intelligence artificielle</h3>
          <hr>
          
          <h4>les auteurs:Baddi Youssef,<br>
            Yassine Malah,<br>
            mouhiha mohamed.</h4>
          <h4> publication revue internationnale indexe : journale xy
                .</h4>
                <h4>      publication revue commite de lecture : journale yz</h4>
            <h4>  </h4>
          
          
        </div>

        <div class="form-group">
          <a    routerLink="">
                    <button  class="btn btn-success"> 
                      voir plus</button>
                      </a>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <a    routerLink="">
                        <button  class="btn btn-success"> 
                          Modifier</button>
                          </a>
                    </div>



        
             
      </div>
  </div>
</div>

</div>





<div class="col-md-6 mt-4"   >
  <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading">
        
      </div>
  
      <div class="panel-body" >
         
<div class="col-sm-12">
        <h3> Analyse d'informations hétérogènes et modèle de préférences pour identifier et favoriser la mise
          en réseau d'acteurs du tourisme
          </h3>
          <hr>
          
          <h4>les auteurs:Baddi Youssef,<br>
            Yassine Malah,<br>
            mouhiha mohamed.</h4>
          <h4> publication revue internationnale indexe : journale xy
                .</h4>
                <h4>      publication revue commite de lecture : journale yz</h4>
            <h4>  </h4>
          
          
        </div>

        <div class="form-group">
          <a    routerLink="">
                    <button  class="btn btn-success"> 
                      voir plus</button>
                      </a>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <a    routerLink="">
                        <button  class="btn btn-success"> 
                          Modifier</button>
                          </a>
                    </div>



        
             
      </div>
  </div>
</div>

</div>



<div class="col-md-6 mt-4"   >
  <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading">
        
      </div>
  
      <div class="panel-body" >
         
<div class="col-sm-12">
        <h3>reseaux informatique</h3>
          <hr>
          
          <h4>les auteurs:Baddi Youssef,<br>
            Yassine Malah,<br>
            mouhiha mohamed.</h4>
          <h4> publication revue internationnale indexe : journale xy
                .</h4>
                <h4>      publication revue commite de lecture : journale yz</h4>
            <h4>  </h4>
          
          
        </div>

        <div class="form-group">
          <a    routerLink="">
                    <button  class="btn btn-success"> 
                      voir plus</button>
                      </a>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <a    routerLink="">
                        <button  class="btn btn-success"> 
                          Modifier</button>
                          </a>
                    </div>



        
             
      </div>
  </div>
</div>

</div>











</div>


          
           <app-footer></app-footer>
            
               
        
        
        
        