

<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
</html>
<app-navbar></app-navbar>
      

<div class="container">
   
  <div class="panel-group">
   

    <div class="panel panel-primary">
      <div class="panel-heading">Ajouter une publication </div>
      <div class="panel-body">
           <form [formGroup]="form" (ngSubmit)="inserpost()"control="" class="form-group">
               
                
            <div class="row text-center">
            
                <div class="col-sm-6">
               
                        <div class="form-group">
                             <label for="nom"> titre de la publication :</label>
                        <input type="text" formControlName="nom" 
                               placeholder="  titre de la publication "
                               required  class="form-control"
                               [(ngModel)]="info.nom" />
                            </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="metier">les auteurs   :</label>
                 
                        <div class="checkbox">
                            <label><input type="checkbox" value="">Baddi Youssef</label>
                          </div>
                          <div class="checkbox">
                            <label><input type="checkbox" value="">Yassine Malah</label>
                          </div>
                    </div>
              
                        </div>
                        <div class="col-sm-6">
                               
                               <div class="form-group">
                                <label for="bnrposte">publication revue internationnale indexe :</label>
                           <input type="text" formControlName="bnrposte" 
                                  placeholder=" nom complet du journal  "
                                  required class="form-control" 
                                  [(ngModel)]="info.bnrposte"/>
                               </div>
                            </div>
                            <div class="col-sm-6">
                               <div class="form-group">
                                <label for="lieu">publication revue commite de lecture :</label>
                           <input type="text" formControlName="lieu" 
                                  placeholder=" nom complet du journal "
                                  required class="form-control" 
                                  [(ngModel)]="info.lieu"/>
                               </div>
                            </div>
                      
                            
                          
             </div>




             <div class="row text-center">
                <div class="col-sm-6">
                       
                    <div class="form-group">
                     <label for="nivo"> publication revue sans commite de lecture   :</label>
                <input type="text" formControlName="nivo" 
                       placeholder="  nom complet du journal   "
                       required class="form-control"
                       [(ngModel)]="info.nivo" />
                    </div>
                 </div>
           
                <div class="col-sm-6">
                       
                    <div class="col-sm-6">
                   
                        <div class="form-group">
                         <label for="dateex">année  :</label>
                         <input type="date" id="dateex" formControlName="dateex"
                         value="2021-01-15"
                         min="1900-01-01" max="2200-12-31" 
                          [(ngModel)]="info.dateex" required>
                        </div>
                     </div>
                  
                
            </div>

        </div>

       








          
              <br>
 
                <div class="form-group">
                     
                        <button type="submit" class="btn btn-success"> 
                            <span class="glyphicon glyphicon-add"></span>voir plus</button>
                        </div>
                    </form>
         </div>        
            
            
          
        
            
    </div>

  
  </div>
</div>



 