

<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
</html>
<app-navbar></app-navbar>
      

<div class="container">
   
  <div class="panel-group">
   

    <div class="panel panel-primary">
      <div class="panel-heading">Modifier une Etablissement </div>
      <div class="panel-body">
           <form control="" class="form-group">
               
                
            <div class="row text-center">

                <div class="col-sm-6">
                    <div class="form-group">
                        
                        <label for="prenom">Nom de l'Université :</label>
                        <input type="text" formControlName="prenom" 
                               placeholder="  prenom de Professeur "
                               required  class="form-control"
                                />

                       
                    </div>
              
                        </div>


            
                <div class="col-sm-6">
               
                        <div class="form-group">
                             <label for="nom">Nom de l'Etablissement  :</label>
                        <input type="text" formControlName="nom" 
                               placeholder="  Nom de Professeur "
                               required  class="form-control"
                                />
                            </div>
                </div>
               
                       
                            
                      
                            
                          
             </div>




           
       








         
              <br>
 
                <div class="form-group">
                     
                        <button type="submit" class="btn btn-success"> 
                            <span class="glyphicon glyphicon-add"></span>Modifier</button>
                        </div>
                    </form>
         </div>        
            
            
          
        
            
    </div>

  
  </div>
</div>

<app-footer></app-footer>

 